$fontFamilyMain: 'Roboto';

$fontSizePHuge: 20px;
$fontSizePBig: 18px;
$fontSizePNormal: 14px;

$fontWeightBold: bold;
$fontWeightMedium: 500;
$fontWeightNormal: normal;

$colorPrimary: #333333;
$colorSecondary: #ABABAB;
$colorWhite: #FFFFFF;
$colorBlue: #8EA7FF;


$backgroundColorPrimary: #FFFFFF;
$backgroundColorSecondary: #F8F8F8;


$flexBasisMainPanel: 960px;
