@import '../../styles/variables';
@import '../../styles/mixins';

.move-panel-btn {
  display: none;
  margin-left: auto;
  height: 28px;
  cursor: pointer;

  .btn-text {
    @include fontHeaderText;
    font-weight: $fontWeightMedium;
    color: $colorSecondary;
    margin-left: 10px;
    vertical-align: 6px;
  }

  @include tablet {
    display: block;
  }
}
